{% extends 'layout.html' %}
{% block body %}
<!-- mainbody -->
<main>
    <!-- cources -->
    <h2 class="text-2xl md:text-3xl text-cyan-700 font-bold text-center capitalize my-10">Top Courses</h2>
    <section class="text-gray-900  sm:px-10 pb-10 space-y-10">
        <div
            class="cardsholder flex-wrap flex m-auto justify-center items-center max-w-[26rem] md:max-w-full md:justify-evenly lg:justify-center">

            {% for post in video %}
            <div class="card border flex flex-col bg-gray-200 sm:mx-5 mb-10 overflow-hidden rounded-xl shadow-xl"
                style="width:370px">
                <div>
                    <img class="box-border rounded-xl " src="data:image/jpg;base64,{{ listimg[loop.index-1] }}"
                        alt="logo-banner">
                </div>
                <div class="p-4 pr-7 text-start">
                    <h1 class="text-lg pb-3 font-bold"> {{ post.course }} | {{ post.title }} </h1>
                    <h1 class="text-lg pb-3 font-bold">Date: {{ post.date }}</h1>
                    <p class="text-gray-700 pb-3">{{ post.discription }}</p>
                    <button><a href="/courses/{{ post.course }}"
                            class="bg-gray-800 capitalize font-semibold text-white px-2 py-2 mt-7 text-sm rounded-full hover:bg-gray-900 hover:text-cyan-400">start
                            watching</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<!-- footer -->
{% endblock %}